<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="intel.xdk.file"
  version="0.0.1">
  <name>Intel XDK File</name>
  <description>Intel XDK File Plugin</description>
  <license>Apache 2.0</license>
  <keywords>intel,xdk,file</keywords>

</plugin>
